<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @teaching.link %>
</p>

<p>
  <strong>Category:</strong>
  <%= @teaching.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @teaching.title %>
</p>

<p>
  <strong>Views:</strong>
  <%= @teaching.views %>
</p>

<%= link_to 'Edit', edit_teaching_path(@teaching) %> |
<%= link_to 'Back', teachings_path %>
